  <% if @corsair.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@corsair.errors.count, "error") %> ont causé un problème à la sauvegarde du moussaillon !!!
      </h2>
      <ul>
        <% @corsair.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<ul>
  <li> <%= label_tag 'first_name', "Prénom du super Moussaillon" %> </li>
  <li> <%= text_field_tag 'first_name' %> </li>

  <li> <%= label_tag 'age', "Age du super Moussaillon" %> </li>
  <li> <%= text_area_tag 'age' %> </li>

</ul>