  <% if @corsair.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@corsair.errors.count, "erreur") %> ont empêché votre profil d'être sauvegardé !
      </h2>
      <ul>
        <% @corsair.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%= form_with model: @corsair, local: true do |form| %>

 <p>
   <%= form.label "Moussaillon, quel est votre prénom ?" %><br>
   <%= form.text_field :first_name %>
 </p>

 <p>
   <%= form.label "Moussaillon, quel âge avez-vous ?" %><br>
   <%= form.number_field :age %>
 </p>
 

 <p> Préférez-vous les Kebab ou le Hummus ? </p>

	<%= form.radio_button :likeness, 'Kebab' %> Kebab, Miam !
	<%= form.radio_button :likeness, 'Hummus' %> Hummus, au calme

 <p>
   <%= form.submit "Je crée mon profil" %>
 </p>

<% end %>